<nav class="navbar navbr-default">
    <ul style="padding-left:80px; padding-top:10px;" class="nav navbar-nav navbar-left ">
           <h2 class="text-center"><a style="color:#000" [routerLink]="['']">ServicoAki</a></h2>
    </ul>
    <ul style="padding-right:100px; padding-top:22px;" class="nav navbar-nav navbar-right ">
        <li><a [routerLink]="['cadastre']">Cadastre-se</a></li>
        <li><a [routerLink]="['cadastro']">Login</a></li>
    </ul>
</nav>
<hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;"/>

<router-outlet></router-outlet>