<h3 style="padding-left:120px;padding-bottom:10px;padding-top:20px;">Cadastre-se</h3>
<!--<div class="container">-->
<div class="row" style="align-items: center;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    max-width:1200px;">
    <painel style="padding-top:145px" #painelBusca titulo="Cliente" class="col-md-4 col-xs-offset-1">
        <h4 style="text-align:center;padding-bottom:10px">
            <p> Se cadastre abaixo para<br>visualizar os contatos que precisa </p>
        </h4>
        <br>
        <button class="btn btn-warning btn-block" (click)="remove(foto)">Cadastro Cliente </button>
    </painel>

    <painel style="padding-top:145px" #painelBusca titulo="Prestador" class="col-md-4 col-xs-offset-1">
        <h4 style="text-align:center;padding-bottom:10px">Cadastre agora mesmo e receba<br>indicacoes para seus servicos</h4>
        <br>
        <button class="btn btn-primary btn-block" (click)="paginaCadastroPrestador()">Cadastro Prestador </button>
    </painel>

</div>
<!--</div>-->